<link rel="stylesheet" href="/css/films.css" />
<link rel="stylesheet" href="/css/genres.css" />

<div class="container">
  <h1>Films in genre: <%= genre.name %></h1>
  <a href="/genres" class="button-link">Back to genres</a>

  <ul class="film-list">
    <% films.forEach(film => { %>
    <li class="film-item">
      <a href="/films/<%= film.id %>">
        <% if(film.cover_url){ %>
        <img src="<%= film.cover_url %>" alt="<%= film.title %> cover" />
        <% } %>
        <div class="film-info">
          <strong><%= film.title %> (<%= film.release_year %>)</strong>
          <p>Director: <%= film.director %></p>
          <p>Price: $<%= film.price %></p>
          <p>Genres: <%= film.genres.join(", ") %></p>
        </div>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
