<link rel="stylesheet" href="/css/films.css" />
<link rel="stylesheet" href="/css/genres.css" />
<div class="container">
  <h1>Films in genre: <%= genre.name %></h1>
  <a href="/genres" class="button-link">← Back to genres</a>
  <ul class="film-list">
    <% films.forEach(film => { %>
    <li class="film-item">
      <a href="/films/<%= film.id %>" class="film-link">
        <% if(film.cover_url){ %>
        <img
          src="<%= film.cover_url %>"
          alt="<%= film.title %> cover"
          class="film-cover"
        />
        <% } %>
        <div class="film-info">
          <strong class="film-title"
            ><%= film.title %> (<%= film.release_year %>)</strong
          >
          <div class="film-meta">
            <span><%= film.director %></span> | <span>$<%= film.price %></span>
          </div>
          <p class="film-description"><%= film.description %></p>
          <div class="film-genres">
            <% film.genres.forEach(genre => { %>
            <span class="genre-tag"><%= genre %></span>
            <% }) %>
          </div>
        </div>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
