<link rel="stylesheet" href="/css/genres.css" />
<% if (typeof flash !== 'undefined' && flash) { %>
<div class="flash <%= flash.type %>"><%= flash.message %></div>
<% } %>
<div class="container">
  <h1><%= title %></h1>
  <div class="genre-action-group">
    <a href="/genres/new" class="button-link">Add a genre</a>
    <a href="/genres/delete" class="button-link">Delete a genre</a>
  </div>
  <ul class="genre-list genre-grid">
    <% genres.forEach(genre => { %>
    <li class="genre-item">
      <a href="/genres/<%= genre.id %>"><%= genre.name %></a>
    </li>
    <% }) %>
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const flash = document.querySelector(".flash");
    if (flash) {
      setTimeout(() => {
        flash.classList.add("hide");
        setTimeout(() => flash.remove(), 600);
      }, 3000);
    }
  });
</script>
